.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.App-header-section {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}

.App-grid-section {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}

.App-grid-container {
  max-width: 800px;
}
