.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.App-header-section {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
}

.App-header-section p {
  margin-bottom: 0.5rem;
  padding-bottom: 0;
  padding-right: 0.5rem;
}

.App-chart-section {
}

.App-grid-section {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}

.App-footer-section {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
}

.App-chart-container-outer {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem;
}

.App-chart-container-inner {
  width: 800px;
  border: 1px solid;
  border-radius: 5px;
  padding: 1rem;
}

.App-grid-container, .App-footer-container {
  max-width: 800px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  flex: 1;
}

