#root {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  height: 100%;
}

.Header {
  display: flex;
  flex-direction: row;
  flex: 0 0 64px;
  justify-content: flex-start;

  background-color: darkgreen;
}

.Header .Header-text-container {
  padding: 1rem;
  color: #ebebeb;
}

.Header .Header-text-container h1, p {
  padding: 0;
  margin: 0;
}

.Main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

.Tabs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Tabs > ul {
  height: 64px;
  font-size: 1.5rem;
}

.Tabs .k-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

.Tabs.k-tabstrip>.k-content.k-state-active {
  display: flex;
}

.ChartContainer {
  border: 1px solid darkgreen;
  border-radius: 5px;
  padding: 2rem;
}

.ControlPanel {
  display: flex;
  justify-content: space-between;
  border: 1px solid darkgreen;
  padding: 1rem;
  border-radius: 5px;
  background-color: #ebebeb;
  margin-bottom: 1rem;
}

.Footer {
}

